.sec-one {
	height: 75vh;
}
.sec-two {
	height: 25vh;
	background: #C00037;
	border-radius: 10px 10px 0px 0px;
}
.sec-one-empty {
    height: 5%;
}
.sec-one-one {
    text-align: center;
    height: 57%;
}
.sec-one-one img {
	margin-top: 20px;
}
.sec-one-head {
	height: 9%;
	color: #C00037;
    font-size: 30px;
    margin: 0px;
    font-weight: 600;
    text-align: center;
}
.sec-one-para {
	height: 11%;
	color: #8C8C8C;
	font-size: 17px;
	text-align: center;
	margin: 0px;
}
.form-input {
	height: 15%;
    width: 85%;
    margin: 0px auto;
}
#email {
	margin-bottom: 22px;
}
#email {
	border: 1px solid #C00037;
	border-radius: 4px;
    height: 40px;
}
#email::placeholder {
	text-align: center;
	color: #9B9B9B;
	font-size: 17px;
}
.sec-two-button {
	height: 62%;
	text-align: center;
}
.go {
    background: #FFFFFF;
    border: none;
    height: 43px;
    width: 131px;
    font-size: 20px;
    color: #C00037;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 30px;
}
.sec-two-fgt {
    cursor: pointer;
    margin: 0px;
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
}